/* Venetian Blinds Styling */
.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

#blinds {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 56.5%;
	margin: 0 auto;
	background: black;
}

#blinds:after {
	background: transparent url(../images/pattern.png) repeat top left;
}

li {
	list-style: none;
}

#blinds li span {
	position: absolute;
	box-shadow: 0px 2px 5px 5px rgba(#8b7765, 0.2);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	animation: fader 78s infinite 0s;
}

#blinds li div {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	opacity: 0;
	color: rgba(216, 191, 216, 1);
	animation: titleAnimation 78s linear infinite 0s;
}

#blinds li div h3 {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	padding: 0;
	letter-spacing: 0.1em;
	text-shadow: 2px 2px 4px $mainPink4;
	@media #{$min-530} {
		font-size: 24px;
		@media #{$min-768} {
			font-size: 32px;
		}
	}

}

#blinds li:nth-child(1) span {
	background-image: url(../images/Photo-Nov-09-09-16-34--2000.jpg);
	animation-delay: 0s;
}

#blinds li:nth-child(2) span {
	background-image: url(../images/Photo-Nov-09-09-27-54--2000.jpg);
	animation-delay: 6s;
}

#blinds li:nth-child(3) span {
	background-image: url(../images/Photo-Nov-09-09-28-54--2000.jpg);
	animation-delay: 12s;
}

#blinds li:nth-child(4) span {
	background-image: url(../images/Photo-Nov-09-09-28-56--2000.jpg);
	animation-delay: 18s;
}

#blinds li:nth-child(5) span {
	background-image: url(../images/Photo-Nov-09-09-28-59--2000.jpg);
	animation-delay: 24s;
}

#blinds li:nth-child(6) span {
	background-image: url(../images/Photo-Nov-09-09-29-05--2000.jpg);
	animation-delay: 30s;
}

#blinds li:nth-child(7) span {
	background-image: url(../images/Photo-Nov-09-09-29-08--2000.jpg);
	animation-delay: 36s;
}

#blinds li:nth-child(8) span {
	background-image: url(../images/Photo-Nov-09-09-29-25--2000.jpg);
	animation-delay: 42s;
}

#blinds li:nth-child(9) span {
	background-image: url(../images/Photo-Nov-09-09-41-29--2000.jpg);
	animation-delay: 48s;
}

#blinds li:nth-child(10) span {
	background-image: url(../images/Photo-Nov-09-09-42-02--2000.jpg);
	animation-delay: 54s;
}

#blinds li:nth-child(11) span {
	background-image: url(../images/Photo-Nov-09-09-42-04--2000.jpg);
	animation-delay: 60s;
}

#blinds li:nth-child(12) span {
	background-image: url(../images/Photo-Nov-09-09-42-12--2000.jpg);
	animation-delay: 66s;
}

#blinds li:nth-child(1) div {
	animation-delay: 0s;
}

#blinds li:nth-child(2) div {
	animation-delay: 6s;
}

#blinds li:nth-child(2) div {
	animation-delay: 6s;
	bottom: 90px;
}

#blinds li:nth-child(3) div {
	animation-delay: 12s;
	bottom: 90px;
}

#blinds li:nth-child(4) div {
	animation-delay: 18s;
	bottom: 90px;
}

#blinds li:nth-child(5) div {
	animation-delay: 24s;
	bottom: 90px;
}

#blinds li:nth-child(6) div {
	animation-delay: 30s;
	bottom: 90px;
}

#blinds li:nth-child(7) div {
	animation-delay: 36s;
	bottom: 90px;
}

#blinds li:nth-child(8) div {
	animation-delay: 42s;
	bottom: 90px;
}

#blinds li:nth-child(9) div {
	animation-delay: 48s;
}

#blinds li:nth-child(10) div {
	animation-delay: 54s;
}

#blinds li:nth-child(11) div {
	animation-delay: 60s;
}

#blinds li:nth-child(12) div {
	animation-delay: 66s;
}

@keyframes fader {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
    8% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
    17% {
		opacity: 1;
	}
    25% { opacity: 0;
	}
    100% {
		opacity: 0;
	}
}

@keyframes titleAnimation {
	0% {
		opacity: 0;
	}
	6% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	17% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* for browsers that don't support animations, show last slideshow image by setting the opacity to 1 */
.no-cssanimations #blinds li span {
	opacity: 1;
}

/* Audio (music) Play/Pause Button Styling */

.audio-buttons {
	margin: 20px auto 0;
	text-align: center;
}

.play, .pause {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	background: $mainPink4;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba($mainRosyBrown4, 0.9);
}

.play {
	margin-right: 10px;
	width: 70px;
}
