/* Global Styling */
html {
	-webkit-boz-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-boxsizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	padding-top: 0;
	background: $mainRosyBrown3;
	font-family: 'Pacifico', cursive;
	overflow-x: hidden;
	cursor: pointer;
}

h1 {
	position: absolute;
	top: 80px;
	left: 40px;
	width: 50%;
	color: rgba(216, 191, 216, 1);
	letter-spacing: 0.1em;
	transform: transition 0s;
	text-shadow: 2px 2px 4px $mainPink4;
}
