/* speech Styling */
.voiceinator {
	padding: 2rem;
	max-width: 50rem;
	width: 100%;
	margin: 15% auto;
	border-radius: 1rem;
	position: relative;
	background: $mainPink4;
	overflow: hidden;
	z-index: 1;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
	.voiceinator-title {
		width: calc(100% + 4rem);
		margin-left: -2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		font-size: 2.75rem;
		border-bottom: 5px solid $mainRosyBrown3;
		font-family: 'Pacifico', cursive;
		text-shadow: 2px 2px 0 $mainRosyBrown3;
		text-align: center;
		@mixin atSmall {
			font-size: 3.5rem;
		}
		@mixin atMedium {
			width: calc(100% + 4rem);
			margin: 0;
			margin-left: -2rem;
			margin-top: -2rem;
			margin-bottom: 2rem;
			padding: 5rem;
			background: $mainPink4;
			border-bottom: 5px solid $mainRosyBrown3;
			font-size: 5rem;
			font-weight: 100;
			font-family: 'Pacifico', cursive;
			text-shadow: 3px 3px 0 $mainRosyBrown3;
		}
	}
}

#support-msg {
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	line-height: 1.7;
	margin-bottom: 20px;
}

label {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	line-height: 1.7;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
	width: 100%;
	display: block;
	margin: 10px 0;
	padding: 10px;
	border: 0;
	font-size: 2rem;
	font-family: 'Roboto Slab', serif;
	background: #F7F7F7;
	outline: 0;
	letter-spacing: 0.1em;
}

.voiceinator select {
	border-radius: 5px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}

textarea {
	height: 20rem;
}

.voiceinator button {
	background: $mainRosyBrown;
	border: 0;
	width: 49%;
	float: left;
	font-family: 'Pacifico', cursive;
	margin-bottom: 0;
	font-size: 2rem;
	border-bottom: 5px solid rgba(0, 0, 0, 0.1);;
	cursor: pointer;
	position: relative;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
	line-height: 1.7;
}

.voiceinator button:active {
	top: 2px;
}

.voiceinator button:nth-of-type(1) {
	margin-right: 2%;
}

/* unholy css to style input type="range" */

input[type=range] {
	-webkit-appearance: none;
	background: transparent;
	width: 100%;
	margin: 8px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 1.3px;
	border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #ffc600;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffc600;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	height: 20px;
	width: 20px;
	border-radius: 50px;
	border: 0;
	background: #ffc600;
	margin-top: -10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
	background: #fff;
	border-radius: 1.3px;
	border: 0.2px solid rgba(1, 1, 1, 0);
}
/* New addition to removal of User Agent StyleSheet for Firefox. Removed dotted border around range. */
input[type="range"]::-moz-focus-outer {
	border: 0;
}
