@mixin atSmall {
    @media (min-width: 530px) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width:768px) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
